@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey:  hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);

  --primary-color: var(--tomato);
}

body {
  background-color: var(--charcoal-grey);
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
}

div#container {
  background-color: white;
  max-width: 930px;
  max-height: 640px;
  width: 80%;
  margin: 100px auto;
  padding: 24px;
  border-radius: 35px;
  box-shadow: -4px 4px 20px 4px rgba(0, 0, 0, 0.3);
}

main {

}

#main-img {
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
}



.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: 100px;
  color: var(--grey);
}
.attribution a { color: hsl(228, 45%, 44%); }


/*  --------- success message ----------------*/
#success-message {
  display: none;
}