.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: var(--primary1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 12px;
  color: var(--dark-grayish-blue);

  --primary1: hsl(26, 100%, 55%);
  --primary2: hsl(25, 100%, 94%);

  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --tranparent-black: 75%;
}

header {
  height: 112px;
  width: 100%;
  border-bottom: 2px solid var(--light-grayish-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100%;
  display: flex;
}

div#logo {
  margin-right: 4vw;
}

#logo a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

nav ul li a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0 1vw;
  height: 100%;
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

h1, h2, h3 {
  color: var(--dark-blue);
}

div#right-icons {
  height: 100%;
  float: right;
  padding: 31 0;
  display: flex;
  align-items: center;
}

#cart a img {
  height: 31px;
}

a#cart, a#user {
  margin-left: 24px;
}

#user img {
  height: 50px;
}

/* main product details*/

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

section {
  width: 50%;
  margin: 4%;
  z-index: 1;
}

div#large {
  width: 100%;
  max-width: 444px;
  border-radius: 15px;
}

div#large img {
  width: 100%;
  max-width: 444px;
  border-radius: 15px;
}

#img-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6% 0;
}

#img-list img {
  width: 20%;
  border-radius: 10px;
}

section#details {
  display: flex;
  flex-direction: column;
  padding: 40px 6px;
}

h3 {
  color: var(--primary1);
}

h3.brand {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark-blue);
  margin: 20px 0;
}

p#description {
  line-height: 1.6;
}

p.price {
  color: var(--dark-blue);
  font-size: 25px;
  line-height: 0;
  font-weight: bold;
  margin-top: 40px;
}

span.sale {
  font-size: 13px;
  padding: 3px 5px;
  margin-left: 12px;
  color: var(--primary1);
  background-color: var(--primary2);
  vertical-align: top;
  border-radius: 5px;
}

p.total-price {
  font-size: 13px;
  font-weight: bold;
  color: var(--grayish-blue);
  text-decoration: line-through;
  margin-top: 20px;
}

form#quantity {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#quantity div {
  background-color: var(--light-grayish-blue);
  width: 35%;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 12px;
}

button {
  cursor: pointer !important;
  border: none;
  background-color: transparent;
}

input#num-quantity {
  cursor: default;
  font-size: 1rem;
  color: var(--dark-blue);
  border: none;
  background-color: transparent;
  max-width: 30%;
  text-align: center;
  font-weight: bold;
}

button[type=submit] {
  background-color: var(--primary1);
  width: 60%;
  height: 50px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

button[type=submit] img {
  height: 15px;
  width: 16px;
  margin-right: 10px;
}

/* Footer */

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--light-grayish-blue);
}

footer p {
  padding: 0 6px;
}

/* dark background for lightbox and mobile menu*/

#dark-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: var(--tranparent-black);
}

button.circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.circle img {
  width: 10px;
  height: 14px;
}

/* mobile responsive*/

#burger-menu, button.close, div#dark-background, div#next-pre {
  display: none;
}

@media only screen and (max-width: 670px) {
  body {
    padding: 0;
  }

  header {
    padding: 24px;
    height: 68px;
    z-index: 1;
  }

  button#burger-menu {
    display: inline-block;
    margin-right: 16px;
  }

  div#logo {
    display: inline-block;
    height: 20px;
  }

  nav {
    display: block;
  }

  nav ul {
    z-index: 10;
    display: inline-block;

    background-color: #ffffff;
    font-weight: bold;

    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
  }

  nav ul li {
    display: list-item;
    padding: 12px 24px;
    height: auto;
  }

  nav ul a {
    color: var(--dark-blue);
  }

  button.close {
    display: block;
    padding: 24px;
  }

  a#user img {
    height: 24px;
  }

  /* main product content - images*/
  main {
    flex-direction: column;
  }

  section {
    width: 100%;
    margin: 0;
  }

  #preview div#large {
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    height: 80vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div#large img {
    border-radius: 0;
    width: 100%;
    max-width: 100vw;
  }

  #img-list {
    display: none;
  }

  div#next-pre {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(40vw + 50px);
    left: 0;
    width: 100%;
    padding: 0 16px;
  }

  section#details {
    padding: 24px 24px 60px 24px;
  }

  h2 {
    margin-top: 15px;
  }

  div#price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  p.price {
    margin-top: 0;
  }

  p.total-price {    
    margin-top: 0;
  }

  form#quantity {
    flex-direction: column;
  }

  #quantity div {
    width: 100%;
    height: 50px;
    padding: 0 24px;
  }

  button[type=submit] {
    width: 100%;
    margin-top: 18px;
  }
}