.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 12px;
  color: var(--dark-grayish-blue);

  --primary1: hsl(26, 100%, 55%);
  --primary2: hsl(25, 100%, 94%);

  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --tranparent-black: hsla(0, 0%, 0%, 75%);
}

header {
  height: 112px;
  width: 100%;
  border-bottom: 2px solid var(--light-grayish-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100%;
  display: flex;
}

div#logo {
  margin-right: 4vw;
}

#logo a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

nav ul li a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0 1vw;
  height: 100%;
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

h1, h2, h3 {
  color: var(--dark-blue);
}

div#right-icons {
  height: 100%;
  float: right;
  padding: 31 0;
  display: flex;
  align-items: center;
}

#cart a img {
  height: 31px;
}

a#cart, a#user {
  margin-left: 24px;
}

#user img {
  height: 50px;
}

/* main product details*/

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

section {
  width: 50%;
  margin: 4%;
}

img#large {
  width: 100%;
  max-width: 444px;
  border-radius: 15px;
}

#img-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6% 0;
}

#img-list img {
  width: 20%;
  border-radius: 10px;
}

section#details {
  display: flex;
  flex-direction: column;
  padding: 40px 6px;
}

section#details :nth-child(n) {
  margin-top: 20px;
}

h3 {
  color: var(--primary1);
}

h3.brand {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark-blue);
}

p.price {
  color: var(--dark-blue);
  font-size: 25px;
  line-height: 0;
  font-weight: bold;
}

span.sale {
  font-size: 13px;
  padding: 3px 5px;
  margin-left: 12px;
  color: var(--primary1);
  background-color: var(--primary2);
  vertical-align: top;
  border-radius: 5px;
}

p.total-price {
  font-size: 13px;
  font-weight: bold;
  color: var(--grayish-blue);
  text-decoration: line-through;
}