.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: var(--primary1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12px;
  color: var(--primary3);

  --primary1: hsl(31, 77%, 52%);
  --primary2: hsl(184, 100%, 22%);
  --primary3: hsl(179, 100%, 13%);
  --tranparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
  font-size: 40;
}