/* Footer */

footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
}

footer p {
  padding: 0 6px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: lightgray;
}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: var(--primary1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

/* Main */
body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--tranparent-white);

  --primary1: hsl(31, 77%, 52%);
  --primary2: hsl(184, 100%, 22%);
  --primary3: hsl(179, 100%, 13%);
  --tranparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}


h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  color: var(--light-gray);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1;
}

main#container {
  width: 920px;
  max-width: 90%;
  height: fit-content;
  min-height: calc(105vw / 3);
  margin: 15vh auto;
  display: flex;
}

#card1 {
  background-color: var(--primary1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#card1 button {
  color: var(--primary1);
}
#card2 {
  background-color: var(--primary2);
}
#card2 button {
  color: var(--primary2);
}
#card3 {
  background-color: var(--primary3);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#card3 button {
  color: var(--primary3);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
}

img.icon {
  height: 40px;
  width: fit-content;
  margin-bottom: 40px;
}

article p {
  line-height: 1.5;
}

button {
  width: 145px;
  height: 50px;
  border: none;
  background-color: var(--light-gray);
  border-radius: 50px;
}