/* Footer */

footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
}

footer p {
  padding: 0 6px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: lightgray;
}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: var(--primary1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

/* Main */
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 12px;
  font-weight: 500;
  max-width: 1440px;
  margin: 0 auto;
  color: black;

  --primary1: hsl(0, 0%, 63%);
  --primary2: hsl(0, 0%, 0%);
  --primary3: hsl(0, 0%, 100%);
  --dark-gray: hsl(0, 0%, 27%);
}