/* Footer */

footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
}

footer p {
  padding: 0 6px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: lightgray;
}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: var(--primary1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

/* Main */
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  font-weight: 600;
  max-width: 1440px;
  margin: 0 auto;
  color: black;

  --primary1: hsl(0, 0%, 63%);
  --primary2: hsl(0, 0%, 0%);
  --primary3: hsl(0, 0%, 100%);
  --dark-gray: hsl(0, 0%, 27%);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 62px;
  display: flex;
}

header img {
  margin-right: 62px;
}

nav ul {
  display: flex;

}

nav li {
  list-style: none;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: var(--primary3);
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
}

h1 {
  font-size: 48px;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 16px;
  letter-spacing: 0.42em;
  text-transform: uppercase;
}

p {
  color: var(--primary1);
}

a#button-shop {
  font-size: 15px;
  letter-spacing: 0.82em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary2);
}

section {
  width: 100%;
  display: flex;
}
section#hero {
  height: 66.6vh;
}

section#about {
  height: 33.3vh;
}