/* Footer */

footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
}

footer p {
  padding: 0 6px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: lightgray;
}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: var(--primary1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

/* Main */
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0 auto;
  color: black;

  --primary1: hsl(0, 0%, 63%);
  --primary2: hsl(0, 0%, 0%);
  --primary3: hsl(0, 0%, 100%);
  --dark-gray: hsl(0, 0%, 27%);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 62px;
  display: flex;
  align-items: center;
}

header img#logo {
  margin-right: 62px;
  margin-bottom: 6px;
}

header img#burger-icon {
  display: none;
}

nav ul {
  display: flex;

}

nav li {
  list-style: none;
  margin-right: 40px;
}
nav li div {
  height: 2px;
  width: 45%;
  margin: 5px auto 0 auto;
}

nav li:hover {
  div { background-color:  var(--primary3);}
}

nav a {
  text-decoration: none;
  color: var(--primary3);
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
}

section {
  width: 100%;
  display: flex;
}

p {
  color: var(--primary1);
  line-height: 1.5;
}

/* Section Hero*/
section#hero {
  height: 66.6vh;
}

div#hero-img {
  width: 59%;
  height: 100%;
  background: url('./images/desktop-image-hero-1.jpg') left no-repeat;
  background-size: cover;
}

#hero article {
  padding: 0 6% 9vh 6%;
  width: 41%;
  height: 66.6vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article p {
  line-height: 3vh;
}

h1 {
  font-size: 48px;
  letter-spacing: -0.04em;
}

#hero p {
  padding: 16px 0;
}

a#button-shop {
  font-size: 15px;
  letter-spacing: 0.82em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary2);
}

a#button-shop span {
  display: inline-block;
  width: 40px;
  height: 12px;
  background-image: url('./images/icon-arrow.svg');
}
a#button-shop:hover {
  color: var(--primary1);
  span {background-image: url('./images/icon-arrow-hover.svg');}
}


#slide-buttons {
  width: calc(8.9vh * 2);
  height: 8.9vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
#slide-buttons button {
  border: none;
  width: 50%;
  height: 100%;
  background-color: var(--primary2);
  cursor: pointer;
}

#slide-buttons button img {
  height: 37.5%;
}

#slide-buttons button:hover {
  background-color: var(--dark-gray);
  transition: background-color 0.3s ease;
}

/* Section About*/
section#about {
  height: 33.3vh;
}

#about article {
  width: 40%;
  height: 100%;
  padding: 3% 2.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 16px;
  letter-spacing: 0.42em;
  text-transform: uppercase;
  margin-bottom: 21px;
}

div.about-img {
  width: 30%;
  height: 100%;
}

#img-dark {
  background: url('./images/image-about-dark.jpg') center no-repeat;
  background-size: cover;
}

#img-light {
  background: url('./images/image-about-light.jpg') center no-repeat;
  background-size: cover;
}

/*---------------------- responsive mobile layout ------------------------------------------*/

#dark-background {
  display: none;
}

@media only screen and (max-width: 910px) {
  section#hero, section#about {
    flex-direction: column;
    height:unset;
    align-items: stretch;

    p {
      font-size: 16px;
    }
  }

  a#button-shop {
    padding: 25px 0;
  }

  div#hero-img {
    width: 100%;
    height: 45vh;
    background-image: url('./images/mobile-image-hero-1.jpg');
  }

  div.about-img {
    width: 100%;
    height: 35vh;
  }

  #hero article, #about article {
    width: 100%;
    position: relative;
    height: auto;
    padding: 55px 6%;
  }

  h1 {
    font-size: 42px;
  }

  #slide-buttons {
    height: 56px;
    width: 112px;
    top: -56px;
    left: unset;
    bottom: unset;
    right: 0;
  }

  /*-------- burger menu --------------*/
  header {
    padding: 32px 6vw 32px 2vw;
    overflow: hidden;
    z-index: 10;
  }
  
  header img#logo {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: calc(50vw - (2vw + 68px) - 31px);
  }
  
  header img#burger-icon {
    display: block;
    cursor: pointer;
    padding: 24px;
  }

  nav {
    width: 100%;
    margin-left: 100vw;
    transition: 0.5s;
    padding-left: 20px;
  }

  nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  nav li {
    margin: 6%;
  }

  nav a {
    color: var(--primary2);
  }

  #dark-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    transition: 0.5s;
  }
}