.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

#card {
  width: 300px;
  margin: 20px auto;
  background-color: white;
  padding: 12px;
  border-radius: 15px;
}

#card img {
  border-radius: 10px;
  max-width: 100%;
}

#card h3, #card p {
  margin: 22px 19px;
}

h3 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
}

#description {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}